<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                @ViewBag.exp1
            </div>
            <h4>Deneyimlerin Sayısı</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.port1
            </div>
            <h4>Projelerin Sayısı</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                @ViewBag.skill1
            </div>
            <h4>Yeteneklerin Sayısı</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.social1
            </div>
            <h4>Sosyal Medya</h4>
        </div>

    </div>
</section>